<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>iMusic</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="assets/css/angular-material.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/iconfont.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body layout="row" ng-cloak ng-controller="appCtrl">
<div class="splash-background" ng-hide="isHide" layout="row" layout-align="center center">
    <h1><i class="fa fa-music"></i> iMusic</h1>
</div>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-indigo" layout-padding>
        <header class="nav-header">
            <a class="logo" href>
                <img src="assets/img/logo.png" width="150" height="150" alt="logo">
            </a>
        </header>
    </md-toolbar>
    <md-content style="padding-top: 10px;" ng-controller="channelSelectCtrl">
        <div layout="row">
            <md-button class="md-button md-primary" ng-click="onlineMusic()" aria-label="在线">
                <i class="fa fa-cloud"></i>
                <span class="font-cn">在线</span>
            </md-button>
            <md-button class="md-button md-primary" ng-click="openFolder()" aria-label="目录">
                <i class="fa fa-folder"></i>
                <span class="font-cn">目录</span>
            </md-button>
            <input id="folderSelect" type="file" nwdirectory hidden />
            <md-button class="md-button md-primary" ng-click="openFile()" aria-label="文件">
                <i class="fa fa-file"></i>
                <span class="font-cn">文件</span>
            </md-button>
            <input id="fileSelect" type="file" multiple hidden accept=".mp3">
        </div>
    </md-content>
</md-sidenav>
<div flex>
    <md-toolbar layout="row" class="md-whiteframe-glow-z1 site-content-toolbar" ng-controller="toolBarCtrl">
        <div class="md-toolbar-tools">
            <md-button class="md-button" ng-click="toggleSliderBar()" aria-label="Show User List">
                <md-icon md-svg-icon="assets/img/svg/menu.svg"></md-icon>
                <span>iMusic</span>
            </md-button>
            <div flex class="move-tool"></div>
            <md-button class="md-icon-button md-icon-button-tool" ng-click="minWindow()" aria-label="Show User List">
                <md-icon md-svg-icon="assets/img/svg/min.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button md-icon-button-tool" ng-click="maxWindow()" aria-label="Show User List">
                <md-icon md-svg-icon="assets/img/svg/max{{isNormal?'':'_normal'}}.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button md-icon-button-tool" ng-click="closeWindow()" aria-label="Show User List">
                <md-icon md-svg-icon="assets/img/svg/close.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex id="content" ng-controller="songListCtrl">
        <div layout="row" class="content-background"></div>
        <div resize ng-class="{'content-song-list-sm': windowWidth > 1100}" class="content-song-list">
            <div ng-repeat="item in songs" ng-click="selectSong($index)"
                 ng-class="{'content-song-list-item-select': $index==selectItem}"
                 class="content-song-list-item" layout="row" layout-align="start center" layout-padding>
                <label class="song-list-name">{{item.name}}</label>
            </div>
        </div>
        <div class="content-modal" layout="row">
            <div class="content-modal-img"></div>
            <div class="content-modal-tool" flex layout="row" layout-wrap layout-align="center end">
                <div layout="row" flex="100" layout-align="center center" layout-padding>
                    <p class="song-title">{{songs[selectItem].name}}</p>
                </div>
                <div layout="row" flex="100" layout-align="center center" style="height: 80px;">
                    <p class="song-words">歌词内容</p>
                </div>
                <div layout="row" flex="100" layout-align="center center" style="height: 40px;">
                    <md-slider flex="80" ng-model="songProcess" ng-mousedown="auidoProcessLock()" ng-mouseup="audioProess()" min="0" step="1" max="100" aria-label="进度条"></md-slider>
                </div>
                <div layout="row" layout-align="center center" layout-padding>
                    <audio id="player" src="" controls="controls" autoplay="autoplay" hidden></audio>
                    <md-button class="md-icon-button md-icon-button-tool" ng-click="audioPrev()" aria-label="上一首">
                        <i class="fa fa-step-backward"></i>
                    </md-button>
                    <md-button class="md-icon-button md-icon-button-tool" ng-click="audioPlay()" aria-label="播放" >
                        <i ng-class="{'fa':true, 'fa-play':!isPlay, 'fa-pause':isPlay}"></i>
                    </md-button>
                    <md-button class="md-icon-button md-icon-button-tool" ng-click="audioNext()" aria-label="下一首">
                        <i class="fa fa-step-forward"></i>
                    </md-button>
                    <md-button class="md-icon-button md-icon-button-tool" ng-click="audioStop()" aria-label="停止">
                        <i class="fa fa-stop"></i>
                    </md-button>
                    <md-button class="md-icon-button md-icon-button-tool" ng-click="audioRepeat()" aria-label="重复">
                        <i class="fa fa-repeat" ng-class="{'button-select': isRepeat}"></i>
                    </md-button>
                </div>
            </div>
        </div>
        <footer class="content-footer" layout="row" layout-align="center center">
            <i class="fa fa-music"></i><span style="margin-left: 5px">iMusic. Created By Chenhao</span>
        </footer>
    </md-content>
</div>
<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-animate.min.js"></script>
<script src="assets/js/angular-aria.min.js"></script>
<script src="assets/js/angular-messages.min.js"></script>
<script src="assets/js/angular-material.min.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>