<md-dialog aria-label="音乐" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>音乐</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="关闭">
                    <i class="fa fa-remove"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
            <form name="musicForm">
                <div layout="row" flex="100">
                    <md-input-container flex-gt-sm>
                        <label>歌名</label>
                        <input ng-model="music.name" name="musicName" required>
                        <div ng-messages="musicForm.musicName.$error">
                            <div ng-message="required">必填</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex-gt-sm>
                        <label>作者</label>
                        <input ng-model="music.author" name="musicAuthor" required>
                        <div ng-messages="musicForm.musicAuthor.$error">
                            <div ng-message="required">必填</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" flex="100">
                    <md-input-container flex-gt-sm>
                        <label>类型</label>
                        <md-select ng-model="music.type" name="musicType" required>
                            <md-option ng-repeat="type in types" value="{{type}}">
                                {{type}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex-gt-sm>
                        <label>路径</label>
                        <input ng-model="music.path" name="musicPath" required>
                        <div ng-messages="musicForm.musicPath.$error">
                            <div ng-message="required">必填</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" flex="100" layout-align="center center" ng-show="!music.path">
                    <md-button class="md-button" aria-label="选择音乐文件"
                               ngf-select ng-model="file" ngf-pattern="'.mp3'"
                               ngf-accept="'.mp3'" ngf-max-size="20MB" ng-change="music.name=file.name">
                        <i class="fa fa-music"></i>
                        <span>选择音乐文件</span>
                    </md-button>
                    <md-button class="md-button" aria-label="上传" ng-click="upload()">
                        <i class="fa fa-upload"></i>
                        <span>上传</span>
                    </md-button>
                </div>
            </form>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="ok()">
                <i class="fa fa-send"></i>
                <span>确定</span>
            </md-button>
            <md-button class="md-raised" ng-click="cancel()">
                <i class="fa fa-remove"></i>
                <span>关闭</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>