::-webkit-scrollbar {
    width: 0
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.splash-background {
    position: fixed;
    z-index: 1000;
    background: url("../img/bg.jpg");
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    -webkit-transition:all linear 1s;
}

.splash-background.ng-hide {
    opacity:0;
}

.logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 16px;
    margin: 0 auto;
    text-decoration: none;
}

.md-icon-button-tool {
    padding: 0 !important;
    margin: 0 !important;
}

.move-tool {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag
}

#content {
    overflow: visible;
}

.content-background {
    background-color: #e1e8e5;
    height: 250px;
    margin-top: 100px;
}

.content-modal {
    background-color: #ffffff;
    height: 250px;
    width: 510px;
    position: absolute;
    top: -50px;
    right: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.content-modal-img {
    background: url("../img/png/demo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 250px;
    height: 250px;
}

.content-footer {
    width: 100%;
    height: 35px;
    position: fixed;
    font-size: 13px;
    bottom: 5px;
}

.content-song-list {
    width: 250px;
    height: 380px;
    position: fixed;
    top: 180px;
    left: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-song-list-sm {
    width: 600px;
    left: calc(5%);
}

.content-song-list-item {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 220px;
    height: 35px;
    background-color: rgba(198, 211, 205, 0.5);
    outline: none;
    cursor: pointer;
    float: left;
}

.content-song-list-item:hover {
    opacity: 0.8;
}

.content-song-list-item-select {
    background-color: #9dd6c5;
}

.song-list-name{
    cursor: pointer;
    font-size: 13px;
    font-family: arial, helvetica, sans-serif;
    color: rgb(51, 51, 51);
}

.font-cn {
    font-family: 'Microsoft Yahei';
}

.song-title{
    font-family: 'Microsoft Yahei';
    font-size: 15px;
}

.song-words{
    font-family: 'Microsoft Yahei';
    font-size: 13px;
}

.button-select{
    color: red;
}

.img-view{
    margin-left:auto;
    margin-right: auto;
    margin-top: 6px;
    width: 300px;
    height: 120px;
    border: 0;
}
