<div flex layout="row" layout-align="start start" layout-wrap>
    <md-menu-bar class="md-menu" layout="row" flex="100">
        <md-button class="md-raised md-primary" ng-click="insert($event)">
            <i class="fa fa-plus"></i>
            <span>新增</span>
        </md-button>
        <md-button ng-disabled="!singleFlag" class="md-raised md-primary" ng-click="update($event)">
            <i class="fa fa-pencil"></i>
            <span>修改</span>
        </md-button>
        <md-button ng-disabled="zeroFlag" class="md-raised md-primary" ng-click="delete($event)">
            <i class="fa fa-remove"></i>
            <span>删除</span>
        </md-button>
    </md-menu-bar>
    <div ng-click="changeSelectFlag()" layout="row" flex="100" ui-grid="gridOptions" ui-grid-pagination ui-grid-resize-columns  ui-grid-selection class="grid"></div>
</div>